@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: SFProDisplay-Medium;
  }

  @font-face {
    font-family: SFProDisplay-SemiBold;
    font-display: swap;
    src: url('./fonts/subset-SFProDisplay-Semibold.woff2') format('woff2'),
      url('./fonts/subset-SFProDisplay-Semibold.woff') format('woff');
  }

  @font-face {
    font-family: SFProDisplay-Medium;
    font-display: swap;
    src: url('./fonts/subset-SFProDisplay-Medium.woff2') format('woff2'),
      url('./fonts/subset-SFProDisplay-Medium.woff') format('woff');
  }

  @font-face {
    font-family: SFProDisplay-Regular;
    font-display: swap;
    src: url('./fonts/subset-SFProDisplay-Regular.woff2') format('woff2'),
      url('./fonts/subset-SFProDisplay-Regular.woff') format('woff');
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.6);
    border-radius: 100vh;
    max-height: 20%;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 128, 128);
  }
}

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
